.noPadding{
    padding: 0;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("../images/cube.gif") no-repeat center center;
    background-color: white;
    color: #0a0a0a;
}
.backgroundcover {
    /* The image used */
    /*background-image: url("../images/2.png");*/
    width: 100%;
    /* Full height */
    height: 100%;
    /*background-color: rgba(0,0,0,0.25);*/
    background-color: #3adb76;
    color: #0a0a0a;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    padding-top: 17%;
    font-size: 800%;
    /*color: white;*/
    background-color: #3adb76;
    color: #0a0a0a;
}

/*navigation bar begin*/
.affix {
    top:0;
    width: 100%;
    z-index: 1;
        }
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
.navbar {
    width: 100%;
    border-radius:0;
    margin-bottom: 0;
    background-color: #0a0a0a;
    z-index: 9999;
    border: 0;
    font-size: 17px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #3adb76 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0a0a0a !important;
    background-color: #3adb76 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #3adb76 !important;
}
/*navigation bar end*/

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #0a0a0a;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.title-bar2{
    margin: 0;
    background-color: #3adb76;
    color: #0a0a0a;
    padding: 1%;
}
.title-bar{
    margin: 0;
    background-color: #0a0a0a;
    color: #3adb76;
    padding: 1%;
}
.expanded{
    min-width: 0;
    max-width: none;
}
.card{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.card-divider {
    width: 100%;
    color: #0a0a0a;
    background-color: #3adb76;
}

.greenBG{
    width: 100%;
    color: #0a0a0a;
    background-color: #3adb76;
    margin: 0;
    padding: 15px;
}
.overlay_right {
    position: absolute;
    background-color: rgba(0,0,0,1);
    bottom: 0;
    left: 100%;
    right: 0;
    opacity: 0.9;
    width: 0;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
    overflow: auto;
    scrollbar-face-color: #3adb76;
}
.card:hover .overlay_right {
    opacity: 0.9;
    width: 100%;
    left: 100%;
}

.overlay_left {
    position: absolute;
    background-color: rgba(0,0,0,1);
    bottom: 0;
    left: 0;
    top: 0;
    /*right: 0;*/
    opacity: 0.9;
    width: 0;
    height: 100%;
    /*width: 100%;*/
    transition: .5s ease;
    z-index: 1;
    overflow: auto;
    scrollbar-face-color: #3adb76;
}
.card:hover .overlay_left {

    opacity: 0.9;
    width: 100%;
    /*height: 100%;*/
    left: -100%;
}

.overlay_bottom {
    position: absolute;
    background-color: rgba(0,0,0,1);
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    width: 0;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
    overflow: auto;
    scrollbar-face-color: #3adb76;
}
.card:hover .overlay_bottom {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    bottom: -100%;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar {
    width: 5px;
    height: auto;
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-track {
    background-color: #3adb76;
}

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-button {
    background-color: #0a0a0a;
    opacity: 0.9;
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

table, thead, tbody, tfoot,th,tr{
    /*background: #0a0a0a !important;*/

    background-color: rgba(0,0,0,1) !important;
    border-color: white;
    opacity: 0.9;
    color: #3adb76;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
/* The Modal (background) end*/

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}